body {
    color: black;
    background: rgb(168, 141, 146)
}

.heading {
    width: 80%;
    font-size: 22px;
}

.nameObjects {
    color: rgb(83, 83, 63);
}

#camera {
    border: 2px dashed brown;
    width: 310px !important;
    height: 250px;
}

.nameObjects, #resultObject, #accuracy {
    color: antiquewhite;
}

